<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>dev.unproductive.aws-icons</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>095F8CFA-1C36-4E65-AD30-EF70373C1FC5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8F203A19-469C-4E12-B92B-11B8C2D884E0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5D917593-12E2-4F63-9CB6-692E98B1B6E5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5D917593-12E2-4F63-9CB6-692E98B1B6E5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DD63C0DC-E7D3-4A5E-9AEA-B7F300711169</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8F203A19-469C-4E12-B92B-11B8C2D884E0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D5A5D114-20D4-45AA-B4BE-562813413D8D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Toshiki Watanabe</string>
	<key>description</key>
	<string>A Workflow for quickly pasting AWS architecture icons onto PowerPoint</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>AWS Icons</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
	-- Parse query
	set AppleScript's text item delimiters to {","}
	set q to text items of q
	set q1 to item 1 of q
	set q2 to item 2 of q

	-- Paste image
	set the clipboard to (POSIX file q1)
	tell application "System Events" to keystroke "v" using command down
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>D5A5D114-20D4-45AA-B4BE-562813413D8D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:action}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>run-script</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>8F203A19-469C-4E12-B92B-11B8C2D884E0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>1</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>6</integer>
				<key>keyword</key>
				<string>ic</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./alfred-aws-icons -query='{query}'</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>e.g. ec2, s3, fargate ...</string>
				<key>title</key>
				<string>Search for an AWS Icon...</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>095F8CFA-1C36-4E65-AD30-EF70373C1FC5</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
	-- Parse query
	set AppleScript's text item delimiters to {","}
	set q to text items of q
	set q1 to item 1 of q
	set q2 to item 2 of q

	-- Paste image
	set the clipboard to (POSIX file q1)
	tell application "System Events" to keystroke "v" using command down
	delay 0.2

	-- Set text to clipboard
	set the clipboard to q2

	tell application "System Events" to keystroke "v" using command down
	tell application "System Events" to keystroke (key code 53)
	tell application "System Events" to keystroke "e" using command down
	repeat 16 times
		tell application "System Events" to keystroke (key code 125)
	end repeat
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>DD63C0DC-E7D3-4A5E-9AEA-B7F300711169</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:action}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>run-script-cmd</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>5D917593-12E2-4F63-9CB6-692E98B1B6E5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>095F8CFA-1C36-4E65-AD30-EF70373C1FC5</key>
		<dict>
			<key>xpos</key>
			<integer>65</integer>
			<key>ypos</key>
			<integer>325</integer>
		</dict>
		<key>5D917593-12E2-4F63-9CB6-692E98B1B6E5</key>
		<dict>
			<key>xpos</key>
			<integer>275</integer>
			<key>ypos</key>
			<integer>355</integer>
		</dict>
		<key>8F203A19-469C-4E12-B92B-11B8C2D884E0</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>215</integer>
		</dict>
		<key>D5A5D114-20D4-45AA-B4BE-562813413D8D</key>
		<dict>
			<key>xpos</key>
			<integer>405</integer>
			<key>ypos</key>
			<integer>185</integer>
		</dict>
		<key>DD63C0DC-E7D3-4A5E-9AEA-B7F300711169</key>
		<dict>
			<key>xpos</key>
			<integer>405</integer>
			<key>ypos</key>
			<integer>325</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.0.1</string>
	<key>webaddress</key>
	<string>https://github.com/ku2482/alfred-aws-icons</string>
</dict>
</plist>
